<h1>Welcome to OmniCalc</h1>

<ul>
  <li><a href="/square/new">Square a number</a></li>
  <li><a href="/square_root/new">Square root a number</a></li>
  <li><a href="/payment/new">Loan payment calculator</a></li>
  <li><a href="/random/new">Random number generator</a></li>
</ul>
