<h1>Loan Payment Calculator</h1>

<form action="/payment/results" method="get">
  <label for="apr">APR</label>
  <input id="apr" name="apr" type="text">

  <label for="years">Number of years</label>
  <input id="years" name="years" type="text">

  <label for="principal">Principal</label>
  <input id="principal" name="principal" type="text">

  <button>Calculate monthly payment</button>
</form>
