<h1>Random Number</h1>

<form action="/random/results" method="get">
  <label for="user_min">Minimum</label>
  <input id="user_min" name="user_min" type="text">

  <label for="user_max">Maximum</label>
  <input id="user_max" name="user_max" type="text">

  <button>Pick random number</button>
</form>
